<?xml version="1.0" encoding="utf-8"?>
<!-- Student: Adrianna Dar
       Student ID: S1712623
       Date: 18/08/2020 Trimester C
       Mobile Platform Development Assignment Resit

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adar_s1712623_mpd"
    >
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GCU Weather Forecast"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartScreen"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
           ></activity>
    </application>

</manifest>